#title  {
    text-align: center;
    color: red;
}


.pork   {
    display: flex;
}

.pork > div {
    flex: 1;
    position: relative;
    left: 100px;
}

.chicken    {
    display: flex;
}

.chicken > div {
    top: 100px;
    flex: 1;
    position: relative;
    left: 150px;
}

.beef   {
    top: 200px;
    display: flex;
    justify-content: center;
}

.name   {
    width: 160px;
    height: 80px;
}

#id {
    position: sticky
}