.button-container {
    font-size: 0;

}


h1{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 100px;
}
.button{
    display: inline-block;
    box-sizing: border-box;
    width: calc(100% / 2);
    background-color: #0099ff; /* Green */
    border-right: 1px solid #537b55;
    color: white;
    /*padding: 15px 0;*/
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    line-height: 50px;
    font-weight: bold;
    font-family: Arial;
}
.fling-minislide {width:50%; height:600px; overflow:hidden; position:relative; left: 20px; top: 20px;}
.fling-minislide img{ position:absolute; animation:fling-minislide 20s infinite; opacity:0; width: 100%; height: auto;}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}
.fling-minislide img:nth-child(4){animation-delay:0s;}
.fling-minislide img:nth-child(3){animation-delay:5s;}
.fling-minislide img:nth-child(2){animation-delay:10s;}
.fling-minislide img:nth-child(1){animation-delay:15s;}

.intro-container{
    margin-right: 50px;
    height: 650px;

}
.intro-element {
    width: calc(100% / 2);
    display: inline-block;
}
#intro {
    max-width: 48%;
    height: 300px;
    position: relative;
    left: 54%;
    top: -600px;
    /*right: 20px;*/
    font-size: 27px;
}
.wind-slash{
    font-size: 25px;
    color: deeppink;
}
#googleMap {
    position: relative;

    margin-left: 25%;
}
body {
    margin: 0;
    background-color: #b3ecff;
    /*background-image: url("quanPho.jpg");*/
    /*opacity: 5;*/
    /*background-size: cover;*/
    padding: 0;
    overflow-x: hidden;
}
.navigation {
    position: relative;
    left: 42%;
    font-style: italic;
    font-weight: bold;
    font-size: 22px;
}

.sliding-wind {
    text-align: center;
}


#sub-intro  {
    background-color: pink;
    font-size: 25px;
    width: 400px;

}
