.button-container {
    font-size: 0;
    display: flex;
}


.time {
    display: flex;
}
.header {
    flex: 1;
    font-family: 'Nanum Gothic', sans-serif;
}

.button{
    display: inline-block;
    box-sizing: border-box;
    background-color: #0099ff; /* Green */
    border-right: 1px solid #537b55;
    color: white;
    /*padding: 15px 0;*/
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    line-height: 50px;
    font-weight: bold;
    font-family: Arial;
    flex: 1;
}

.button:hover {
    background-color: white;
    color: #0099ff;
}

/*.button.container {*/
    /*display: flex;*/
    /*margin: 40px auto 0 auto;*/
    /*justify-content: space-between;*/
/*}*/

/*.button {*/
    /*flex: 1;*/
/*}*/

/*.button{*/
    /*box-sizing: border-box;*/
    /*background-color: #0099ff; !* Green *!*/
    /*border-right: 1px solid #537b55;*/
    /*border-bottom: 1px solid #537b55;*/
    /*border-top: 1px solid #537b55;*/
    /*color: white;*/
    /*!*padding: 15px 0;*!*/
    /*text-align: center;*/
    /*text-decoration: none;*/
    /*padding: 20px;*/
    /*margin-bottom: 20px;*/
    /*flex-basis: 30%;*/
/*}*/



.fling-minislide {width:100%; height:600px; overflow:hidden; position:relative; top: 20px;}
.fling-minislide img{ position:absolute; animation:fling-minislide 20s infinite; opacity:0; width: 100%; height: auto;}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}
.fling-minislide img:nth-child(4){animation-delay:0s;}
.fling-minislide img:nth-child(3){animation-delay:5s;}
.fling-minislide img:nth-child(2){animation-delay:10s;}
.fling-minislide img:nth-child(1){animation-delay:15s;}

/*.intro-container{*/
    /*margin-right: 50px;*/
    /*height: 650px;*/
/*}*/

/*.intro-element {*/
    /*width: calc(100% / 2);*/
    /*display: inline-block;*/
/*}*/

/*#intro {*/
    /*max-width: 48%;*/
    /*height: 300px;*/
    /*position: relative;*/
    /*left: 54%;*/
    /*top: -600px;*/
    /*!*right: 20px;*!*/
    /*font-size: 27px;*/
/*}*/
/*.wind-slash{*/
    /*font-size: 25px;*/
    /*color: deeppink;*/
/*}*/

#googleMap {
    margin-left: 10%;
    width: 100%;
}

/*body {*/
    /*margin: 0;*/
    /*background-color: #b3ecff;*/
    /*!*background-image: url("quanPho.jpg");*!*/
    /*!*opacity: 5;*!*/
    /*!*background-size: cover;*!*/
    /*padding: 0;*/
    /*overflow-x: hidden;*/
/*}*/
/*.navigation {*/
    /*position: relative;*/
    /*left: 42%;*/
    /*font-style: italic;*/
    /*font-weight: bold;*/
    /*font-size: 22px;*/
/*}*/

/*.sliding-wind {*/
    /*text-align: center;*/
/*}*/


/*#sub-intro  {*/
    /*border: 1px solid lightskyblue;*/
    /*font-size: 18px;*/
    /*width: 540px;*/
    /*position: relative;*/
    /*top: -55px;*/
    /*padding: 10px;*/
/*}*/

.intro-container {
    display: flex;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    background-color: #b3ecff;
    /*background-image: url("quanPho.jpg");*/
    /*opacity: 5;*/
    /*background-size: cover;*/
    padding: 0;
    overflow-x: hidden;
}


.intro-element {
    display: inline-block;
    margin: 0;
    width: calc(100%/2);
    line-height: 100%;
}

.intro-element:last-child {
    margin-left: 40px;
}


.intro-element  {
    flex: 1;
}

.intro-element:nth-child(2)   {flex-direction: row;}
.intro-element:nth-child(3)   {flex-direction: row;}

.main-container {
    min-height: 100%;
    margin-bottom: -150px;
}

h2 {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 35px;
}
footer{
    /*position: fixed;*/
    /*margin-top: 40px;*/
    background-color: #0099ff;
    width: 100%;
    height: 150px;
    /*bottom: 0;*/
}

.footer-links {
    padding: 25px 0 23px;
    margin: 0;
    font-size: 30px;
    letter-spacing: 20px;
    text-decoration: none;
    border-radius: 50%;
    text-align: center;
}
.footer-company-name {
    color: white;
    font-size: 20px;
    margin: 0;
    padding-bottom: 5px;
    text-align: center;
    position: relative;
    top: -10%;
}

.footer-link {
    color: white;
    padding: 20px;
    text-decoration: none;
}

.navigation {
    text-align: center;
    font-family: 'Lobster' ,cursive;
}

#sub-intro {
    font-family: 'Nanum Gothic', sans-serif;
}

.chem-gio   {
    margin: auto;
    width: fit-content;

}



.outer-container {
    display: flex;
}

.inner-container {
    min-width: 300px;
    max-width: 1000px;
    flex: 1;
}
.inner-container:first-child {
    margin-left: 5%;
}


.menu {

    font-weight: bold;
    font-size: 20px;
    font-family: 'Nanum Gothic', sans-serif;
}

.section-container {
    width: 75%;
    display: flex;
    margin-left: 13%;
}

.section:first-child {
    border-left: 1px solid #537b55;
}

.section {
    box-sizing: border-box;
    background-color: #ff1a1a;
    border-right: 1px solid #537b55;
    border-bottom: 1px solid #537b55;
    border-top: 1px solid #537b55;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    line-height: 40px;
    font-weight: bold;
    flex: 1;
}

.section:hover {
    background-color: white;
    color: #ff1a1a;
}

.question {
    text-align: center;
    font-family: 'Lobster', cursive;
}

.category {
    text-align: center;
    text-decoration: none;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.inner-container1 {
    flex: 1;
}


#contact    {
    position: sticky;
    overflow: hidden;
    background-color: steelblue;
    text-align: center;
    font-size: 40px;
    padding: 25px;
    margin-bottom: 20px;

}

.sticky {
    position: fixed;
    top: 0;
    float: right;
    width: fit-content;
    z-index: 10;
}
.choice {
    width: 50%;
    display: flex;
    margin-left: 25%;
}
.type {
    box-sizing: border-box;
    background-color: deepskyblue;
    border-right: 1px solid #537b55;
    border-bottom: 1px solid #537b55;
    border-top: 1px solid #537b55;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    line-height: 40px;
    font-weight: bold;
    flex: 1;
}
h1 {
    text-align: center;
}
.type:first-child {
    border-left: 1px solid #537b55;
}
.type:hover {
    background-color: white;
    color: deepskyblue;
}
.noodle-container {
    margin-left: 33%;
}
.picture {
    width: 70%;
    margin-left: 20%;
}
@media only screen and (min-width: 1508px) {
    .phoBo {
        font-size: 22px;
    }
    .phoGa {
        font-size: 25px;
    }
    .hoanhThanh {
        font-size: 25px;
    }
    h3 {
        font-size: 33px;
    }

    .intro-container {
        font-size: 30px;
    }
    .intro-container {
        width: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
    }
    .wind-slash {
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 25px;
        list-style-position: inside;
    }
    #sub-intro {
        font-size: 25px;
    }
}
@media only screen and (max-width: 1300px) {
    .phoBo {
        font-size: 18px;
    }
    .phoGa {
        font-size: 20px;
    }
    .hoanhThanh {
        font-size: 20px;
    }
    h3 {
        font-size: 25px;
    }

    .intro-container {
        font-size: 25px;
    }
    .intro-container {
        width: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
    }
    .wind-slash {
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 15px;
        list-style-position: inside;
    }
    #sub-intro {
        font-size: 18px;
    }
}
@media only screen and (max-width: 760px) {
    #googleMap {
        margin-left: 10px;
    }
}
