.button-container {
    font-size: 0;
    display: flex;
}


h1{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 80px;
    line-height: 0.1em;
}
.time {
    display: flex;
}
.header {
    flex: 1;
    font-family: 'Nanum Gothic', sans-serif;
}

/*.button{*/
    /*display: inline-block;*/
    /*box-sizing: border-box;*/
    /*background-color: #0099ff; !* Green *!*/
    /*border-right: 1px solid #537b55;*/
    /*color: white;*/
    /*!*padding: 15px 0;*!*/
    /*text-align: center;*/
    /*text-decoration: none;*/
    /*font-size: 30px;*/
    /*line-height: 50px;*/
    /*font-weight: bold;*/
    /*font-family: Arial;*/
    /*flex: 1;*/
/*}*/

.button.container {
    display: flex;
    margin: 40px auto 0 auto;
    justify-content: space-between;
}

.button {
    flex: 1;
}

.button{
    box-sizing: border-box;
    background-color: #0099ff; /* Green */
    border-right: 1px solid #537b55;
    border-bottom: 1px solid #537b55;
    border-top: 1px solid #537b55;
    color: white;
    /*padding: 15px 0;*/
    text-align: center;
    text-decoration: none;
    padding: 20px;
    margin-bottom: 20px;
    flex-basis: 30%;
}


.fling-minislide {width:50%; height:600px; overflow:hidden; position:relative; left: 20px; top: 20px;}
.fling-minislide {width:100%; height:600px; overflow:hidden; position:relative; top: 20px;}
.fling-minislide img{ position:absolute; animation:fling-minislide 20s infinite; opacity:0; width: 100%; height: auto;}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}
.fling-minislide img:nth-child(4){animation-delay:0s;}
.fling-minislide img:nth-child(3){animation-delay:5s;}
.fling-minislide img:nth-child(2){animation-delay:10s;}
.fling-minislide img:nth-child(1){animation-delay:15s;}

/*.intro-container{*/
    /*margin-right: 50px;*/
    /*height: 650px;*/
/*}*/

/*.intro-element {*/
    /*width: calc(100% / 2);*/
    /*display: inline-block;*/
/*}*/

/*#intro {*/
    /*max-width: 48%;*/
    /*height: 300px;*/
    /*position: relative;*/
    /*left: 54%;*/
    /*top: -600px;*/
    /*!*right: 20px;*!*/
    /*font-size: 27px;*/
/*}*/
/*.wind-slash{*/
    /*font-size: 25px;*/
    /*color: deeppink;*/
/*}*/

#googleMap {
    position: relative;
    margin-left: 53%;
    top: -650px;
}

/*body {*/
    /*margin: 0;*/
    /*background-color: #b3ecff;*/
    /*!*background-image: url("quanPho.jpg");*!*/
    /*!*opacity: 5;*!*/
    /*!*background-size: cover;*!*/
    /*padding: 0;*/
    /*overflow-x: hidden;*/
/*}*/
/*.navigation {*/
    /*position: relative;*/
    /*left: 42%;*/
    /*font-style: italic;*/
    /*font-weight: bold;*/
    /*font-size: 22px;*/
/*}*/

/*.sliding-wind {*/
    /*text-align: center;*/
/*}*/


/*#sub-intro  {*/
    /*border: 1px solid lightskyblue;*/
    /*font-size: 18px;*/
    /*width: 540px;*/
    /*position: relative;*/
    /*top: -55px;*/
    /*padding: 10px;*/
/*}*/

.intro-container {
    display: flex;
}

body {
    margin: 0;
    background-color: #b3ecff;
    /*background-image: url("quanPho.jpg");*/
    /*opacity: 5;*/
    /*background-size: cover;*/
    padding: 0;
    overflow-x: hidden;
}
.intro-container {
    width: 100%;
    font-size: 30px;
    overflow: hidden;
    position: relative;
    display: flex;
}

.intro-element {
    display: inline-block;
    margin: 0;
    width: calc(100%/2);
    line-height: 100%;
}

.intro-element:last-child {
    margin-left: 40px;
}


.intro-element  {
    flex: 1;
}

.intro-element:nth-child(2)   {flex-direction: row;}
.intro-element:nth-child(3)   {flex-direction: row;}

h2 {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 35px;
}
footer{
    margin-top: 40px;
    background-color: #0099ff;
    width: 100%;
    height: 200px;
    bottom: auto;
}
.footer-links {
    padding: 25px 0 23px;
    margin: 0;
    font-size: 30px;
    letter-spacing: 20px;
    text-decoration: none;
    border-radius: 50%;
    text-align: center;
}
.footer-company-name {
    color: white;
    font-size: 14px;
    margin: 0;
    padding-bottom: 5px;
    text-align: center;
}
.footer-link {
    color: white;
    padding: 20px;
    text-decoration: none;
}
.navigation {
    text-align: center;
    font-family: 'Lobster' ,cursive;
}
#sub-intro {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
}
.wind-slash {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
    list-style-position: inside;
}
.outer-container {
    display: flex;
}
.inner-container {
    flex: 1;
}
.menu {
    margin-left: 15%;
    font-weight: bold;
    font-family: 'Lobster', cursive;
}
.section-container {
    width: 75%;
    display: flex;
    margin-left: 10%;
}
.section:first-child {
    border-left: 1px solid #537b55;
}
.section {
    box-sizing: border-box;
    background-color: #ff1a1a;
    border-right: 1px solid #537b55;
    border-bottom: 1px solid #537b55;
    border-top: 1px solid #537b55;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    line-height: 40px;
    font-weight: bold;
    flex: 1;
}
.question {
    text-align: center;
    font-family: 'Lobster', cursive;
}
.category {
    text-align: center;
    text-decoration: none;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

